body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background: #5e6472;
  
}
h1{
  color: black;
}
hr{
  width: 50%;
  
}
p{
  font-size: 16px;
}
.container{
  width: 100%;
  background: #83c5be;
  padding: 2%;
  color: #f1faee;
  text-align: center;
  border-radius: 20px; 
}
.abajo{
  width: 40%;
  margin: 10% 30%;
 
}